.paginate {
  list-style:none;
  display:flex;
  justify-content: space-between;
  background-color: #23252f;
  padding:10px;
}

.paginate li {
  border: 1px solid #dadada;
  color: #dadada;
  background-color: #1c1e25;
  border-radius: 5px;
  width: 40px;
  padding:5px;
  text-align:center;
}

.paginate li:hover {
  opacity:1;
}

.paginate li.selected {
  color: #1c1e25;
  opacity:1.0;
  background-color: #dadada;
}

.paginate li a {
  width:100%;
  display:inline-block;
}